::ng-deep {
  .p-menubar {
    .p-menubar-item-link {
      &:hover {
        background-color: var(--primary-100);
      }
      
      &.active-menu-item {
        background-color: var(--primary-color) !important;
        color: white !important;
        font-weight: 600;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        .p-menubar-item-icon,
        .p-menubar-item-label {
          color: white !important;
        }
      }
    }
  }
}

.navbar {
  background-color: var(--primary-color) !important;
  box-shadow: var(--shadow-md);
  
  .navbar-brand {
    color: white !important;
    font-weight: 600;
    
    img {
      filter: brightness(1.1);
    }
  }
  
  .nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    transition: color var(--transition-fast);
    
    &:hover {
      color: white !important;
    }
    
    &.active {
      color: white !important;
      font-weight: 600;
    }
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
    
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}